<html>
    <head>
        <title>Database connection with Mongoose</title>
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="">Daily Blog site</a></li>
                    <li class="firstli"><a href="/myblog" >My Blogs</a></li>
                    <li><a href="/compose">Compose</a></li>
                    <li><a href="/home">Home</a></li>
                </ul>
            </nav>

        </header>